.section-book {
    padding-top: 186px;
}

.book-wrapper {
    position: relative;
    display: flex;
    max-width: 1115px;
    margin: 0 auto;
    &__img-pluses {
        display: none;
        width: 153px;
        height: 166px;
    }
    &__img-pluses2 {
        display: none;
        width: 153px;
        height: 166px;
    }
}

.book-left-block {
    max-width: 507px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.list-item {
    display: flex;
    &__icon {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        &_destination {
            background-color: #F0BB1F;
            border-radius: 13px;
            background-image: url('/images/section-book/icons/Destination.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
        &_payment {
            background-color: #F15A2B;
            border-radius: 13px;
            background-image: url('/images/section-book/icons/Payment.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
        &_taxi {
            background-color: #006380;
            border-radius: 13px;
            background-image: url('/images/section-book/icons/Taxi.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__header {
        font-family: $poppins-font;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #5E6282;
    }
    &__text {
        font-family: $poppins-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #5E6282;
    }
}

.book-rigth-block {
    position: relative;
    max-width: 608px;
    padding: 79px 115px 14px 122px;
}

.rb-additional-content {
    position: absolute;
    right: 0;
    bottom: 73px;
    border-radius: 16px;
    max-width: 263px;
    padding: 22px 17px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
     0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
      0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
       0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
         0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.additional-content {
    &__content {
        display: flex;
        gap: 12px;
    }
    &__img {
        border-radius: 50%;
    }
    &__heading, &__text {
        font-family: $poppins-font;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #84829A;
        margin-bottom: 10px;
    }
    &__destination {
        font-family: $poppins-font;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #080809;
        margin-bottom: 20px;
    }
    &__loading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 62px;
    }
    &__loading-bar {
        width: 156px;
        height: 5px;
        &::-webkit-progress-bar {
            border-radius: 30px;
            background: #F5F5F5;
        }
        &::-webkit-progress-value {
            background: #8A79DF;
            border-radius: 30px;
        }
        &::-moz-progress-bar {
            border-radius: 30px;
            background: #F5F5F5; 
        }
    }
}

.rb-content {
    position: relative;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 370px;
    padding: 20px 25px;
    border-radius: 26px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
     0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
      0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
       0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
         0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    &__blu-shadow {
        position: absolute;
        top: -200px;
        right: -180px;
        z-index: -1;
    }
    &__img {
        margin-bottom: 25px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__list-item {
        display: flex;
        &_location {
            font-family: $poppins-font;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.015em;
            color: #080809;
        }
        &_date, &_count {
            font-family: $poppins-font;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.005em;
            color: #84829A;
        }
        &_count {
            display: flex;
            justify-content: space-between;
        }
    }
    &__list-item-icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #F5F5F5;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.inner-content {
    display: flex;
}

@media (max-width: 425px) {
    .section-book {
        width: 100%;
        padding: 0;
    }
    .book-wrapper {
        flex-direction: column;
        gap: 95px;
        padding-top: 120px;
        padding-bottom: 86px;
        overflow: hidden;
        &__img-pluses {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
        }&__img-pluses2 {
            display: block;
            position: absolute;
            top: -48px;
            left: -55px;
            z-index: 2;
        }
    }
    .book-left-block {
        display: flex;
        flex-direction: column;
        max-width: 395px;
        margin: 0 auto;
    }
    .book-rigth-block {
        margin-top: 100px;
        padding: 0 55px 0 0;
        max-width: 400px;
        margin: 0 auto;
    }
    .rb-additional-content {
        display: none;
    }
    .rb-content {
        max-width: 302px;
        &__img {
            width: 260px;
        }
    }
}