.subscribe-section {
    margin-top: 111px;
    background: url(./images/section-subscribe/Pluses.svg) no-repeat bottom right;
    padding: 13px 99px 69px 87px;
    
}

.subscribe-wrapper {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    &__send-img {
        position: absolute;
        right: -20px;
        top: -13px;
    }
}

.subscribe {
    padding: 89px 149px 70px 149px;
    background-color: #DFD7F9;
    border-radius: 129px 20px 20px 20px;
    background-image: url('./images/section-subscribe/Mask2.png');
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    &__box {
        display: flex;
        flex-direction: column;
    }
    &__text {
        font-family: $poppins-font;
        font-weight: 600;
        font-size: 33px;
        line-height: 54px;
        text-align: center;
        color: #5E6282;
        margin-bottom: 75px;
    }
    &__form {
        display: flex;
        justify-content: center;
    }
    &__form-input {
        height: 68px;
        width: 421px;
        border-radius: 10px;
        margin-right: 39px;
        padding-left: 28px;
        font-family: $montserrat-font;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #39425D;
    }
    &__form-button {
        height: 68px;
        width: 180px;
        background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
        border-radius: 10px;

        font-family: $sans-font;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 23px;
        color: #FFFFFF;
    }
}

@media (max-width: 425px) {
    .subscribe-section {
        padding-top: 83px;
        padding-bottom: 58px;
        background: #FFFFFF;
    }
    .subscribe-wrapper {
        padding: 0;
        &__send-img {
            position: absolute;
            right: -75px;
            top: 0;
        }
    }
    .subscribe {
        border-radius: 0;
        padding: 0;
        background: #FFFFFF;
        &__box {
            // background: url('./images/section-subscribe/icons/Send1.svg') no-repeat right;
            margin: 0 auto;
        }
        &__text {
            display: none;
        }
        &__form-input {
            display: none;
        }
    }
}